/*Esta es la version para pantallas de escritorio*/

@media (min-width: 900px){
  body{
    background-color: #02010a;
    font-family: dancing script;
  }

#contenido img{
  box-shadow: 2px 2px #02010a;
}

#contenido{
  width: 900px;
  margin: auto;


}

/*----HEADER---*/

header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 80px;
  font-size: 2em;
  padding-left: 20px;
  box-sizing: border-box;
  padding-top: 18px;
}
 header p{
   display: inline;

 }

nav, nav a{
  float: right;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

nav{
  margin-right: 20px;
  display: flex;
}

/*---CUERPO DE LA PAGINA---*/

#imagen-principal{
  display: flex;
  width: 100%;
  height:340px;
  background-color: #82c3a6;
}

#contenedor-imagen{
  width: 60%;
  height: 300px;
  display: flex;
  margin: auto;
}

#imagen-principal img{
  width: 100%;
}

.imagenes-secundarias{
  width: 100%;
  height: 300px;
  background-color: #d5c75f;
  display: flex;
  text-align: center;
  font-size: 1.5em;
  color: black;
}

.imagenes-secundarias a{
  color: black;
}

.imagenes-secundarias img{
  width: 60%;
  display: flex;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
}

#web-img{
  width: 60%;
  height: 200px;
}

#imagen-secundaria-1 img{
  transition-property:box-shadow, transform;
  transition-duration: 1s;
}

#imagen-secundaria-1 img:hover{
  transform: rotateZ(10deg);
  box-shadow:2px 2px #82c3a6;

}

#imagen-secundaria-2 img{
  transition-property: transform, box-shadow;
  transition-duration: 1s;
}

#imagen-secundaria-2 img:hover{
  transform: translateY(-5px) translateX(20px);
  box-shadow: 2px 2px #82c3a6;

}

/*---FOOTER DE LA PAGINA---*/

footer{
  width: 100%;
  height: 180px;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  box-sizing: border-box;
}

footer > div > p{
  margin-top: 20px;
  margin-left: 10px;
  font-size: 2em;
}

footer p{
  display: inline;
}

footer article{
  font-size: 1.2em;
}



}
